<script>
	import { onDestroy } from 'svelte'

	import { editionStore, generationStore } from '../stores'
	import { browser } from '$app/env'
	const gen1 = 'generation-i'
	const gen2 = 'generation-ii'
	const gen3 = 'generation-iii'
	const gen4 = 'generation-iv'
	const gen5 = 'generation-v'
	const gen6 = 'generation-vi'
	const gen7 = 'generation-vii'
	const gen8 = 'generation-viii'

	let generation
	let edition

	if (browser) {
		console.log('Read localStorage')
		console.log(localStorage.getItem('generation'))
		console.log(localStorage.getItem('editions'))

		generation = localStorage.getItem('generation') || undefined
		edition = localStorage.getItem('edition') || undefined
	}

	$: {
		// update the second 'edition' selection if a generation was selected
		switch (generation) {
			case gen1:
				edition = 'red-blue'
				break
			case gen2:
				edition = 'gold'
				break
			case gen3:
				edition = 'ruby-sapphire'
				break
			case gen4:
				edition = 'diamond-pearl'
				break
			case gen5:
				edition = 'black-white'
				break
			case gen6:
				edition = 'x-y'
				break
			case gen7:
				edition = 'ultra-sun-ultra-moon'
				break
			default:
				break
		}
	}

	$: {
		$generationStore = generation
		$editionStore = edition
		if (browser) {
			localStorage.setItem('generation', generation)
			localStorage.setItem('edition', edition)
			console.log('Write localStorage')
			console.log(generation, edition)
		}
	}
</script>

<nav class="flex justify-center w-full dark:text-gray-200">
	<a class="m-2 text-lg text-justify" href="/">Home</a>
	<a class="m-2 text-lg" href="/about">About</a>

	<label class="m-2 text-lg" for="generation">Select your favorite Gen: </label>

	<select
		bind:value={generation}
		name="generation"
		id="generation"
		class="text-black pt-2 pl-2 pb-2 rounded-md"
	>
		<option value={gen1}>Gen 1 - Blue, Red, Yellow</option>
		<option value={gen2}>Gen 2 - Gold, Silver, Crystal</option>
		<option value={gen3}>Gen 3 - Ruby, Sapphire, Emerald</option>
		<option value={gen4}>Gen 4 - Diamond, Perl, Platinum</option>
		<option value={gen5}>Gen 5 - Black, White</option>
		<option value={gen6}>Gen 6 - Omega Ruby, Alpha Sapphire</option>
		<option value={gen7}>Gen 7 - Ultra Sun, Ultra Moon</option>
		<option value={gen8}>Gen 8</option>
	</select>

	<select
		bind:value={edition}
		name="edition"
		id="edition"
		class="text-black pt-2 pl-2 pb-2 ml-2 rounded-md"
	>
		{#if generation == gen1}
			<option value={'red-blue'}>Red/Blue</option>
			<option value={'yellow'}>Yellow</option>
		{:else if generation == gen2}
			<option value={'gold'}>Gold</option>
			<option value={'silver'}>Silver</option>
			<option value={'crystal'}>Crystal</option>
		{:else if generation == gen3}
			<option value={'ruby-sapphire'}>Ruby/Sapphire</option>
			<option value={'emerald'}>Emerald</option>
			<option value={'firered-leafgreen'}>FireRed/LeafGreen</option>
		{:else if generation == gen4}
			<option value={'diamond-pearl'}>Diamond/Pearl</option>
			<option value={'platinum'}>Platinum</option>
			<option value={'heartgold-soulsilver'}>HeartGold/SoulSilver</option>
		{:else if generation == gen5}
			<option value={'black-white'}>Black/White</option>
		{:else if generation == gen6}
			<option value={'x-y'}>X/Y</option>
			<option value={'omegaruby-alphasapphire'}>OmegaRuby/AlphaSapphire</option>
		{:else if generation == gen7}
			<option value={'ultra-sun-ultra-moon'}>Ultra Sun/Ultra Moon</option>
		{/if}
	</select>

	<!-- <p>{generation}</p>
	<p>{edition}</p> -->
</nav>
