<script lang="ts">
	import type { PokemonType } from '../types/pokemon.type'
	import { generationStore, editionStore } from '../stores'

	export let poke: PokemonType
</script>

<a
	sveltekit:prefetch
	class="h-[168px] p-6 pb-2 pt- bg-gray-100 text-gray-800 text-center rounded-md shadow-sm hover:shadow-lg flex flex-col items-center dark:bg-gray-600 dark:text-gray-200"
	href={`/pokemon/${poke.id}`}
>
	{#if $generationStore && $editionStore}
		<img
			src={$generationStore && $editionStore
				? `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/${$generationStore}/${$editionStore}/${poke.id}.png`
				: ''}
			alt={poke.name}
			class="h-28 max-h-24"
		/>
	{:else}
		<img class="spinner h-28 max-h-24" src="./pokeball.svg" alt="Loading spinner" />
	{/if}

	<strong class="capitalize align-bottom pt-2">{poke.id}. {poke.name}</strong>
</a>

<style>
	@-webkit-keyframes spinner {
		/* For Safari */
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(720deg);
		}
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(720deg);
		}
	}

	.spinner {
		-webkit-animation: spinner 1s linear infinite; /* Safari */
		animation: spinner 1s ease-in-out infinite;
	}
</style>
