<script>
	import { spin } from '../animations'

	import { onMount } from 'svelte'

	import { elasticOut } from 'svelte/easing'

	let visible = false
	onMount(() => (visible = true))
</script>

{#if visible}
	<div
		in:spin={{ duration: 8000, easing: elasticOut }}
		class="pt-20 self-center flex flex-col items-center justify-center"
	>
		<img
			in:spin={{ duration: 8000, easing: elasticOut }}
			class="flex-grow h-96"
			src="/404.png"
			alt=""
		/>

		<h1 class="text-center text-9xl dark:text-gray-200">404</h1>
	</div>
{/if}
