<script lang="ts">
	import Nav from '$lib/nav.svelte'
</script>

<div class="p-8 flex flex-col">
	<Nav />
	<slot />
</div>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
