<script context="module">
	export const hydrate = false;
	export const prerender = true;
</script>

<svelte:head>
	<title>About</title>
</svelte:head>
<div class="dark:text-gray-200">
	<h1 class="text-4xl text-center my-8 uppercase">About</h1>
	<p>A Pokedex made with Svelte and TypeScript</p>
</div>
