<script context="module" lang="ts">
	export const prerender = true

	export async function load({ page, fetch, session, stuff }) {
		const url = 'https://pokeapi.co/api/v2/pokemon?limit=151'
		const res = await fetch(url)
		if (res.ok) {
			const data = await res.json()
			const loadedPokemon: PokemonType[] = data.results.map((data, index: number) => {
				let pokemon: PokemonType = {
					name: data.name,
					id: index + 1
				}
				return pokemon
			})
			return { props: { loadedPokemon }, maxage: 3600 }
		}

		return {
			status: res.status,
			error: new Error(`Could not load ${url}`)
		}
	}
</script>

<script lang="ts">
	import Pokecard from '$lib/pokecard.svelte'
	import type { PokemonType } from 'src/types/pokemon.type'

	// Remember scroll position and restore it when navigating back to this page
	import type { Writable } from 'svelte/store'
	import { writable } from 'svelte/store'
	import { onMount } from 'svelte'
	import { browser } from '$app/env'

	let scrollPosition: number
	let previousScrollPosition: Writable<number>

	if (browser) {
		previousScrollPosition = writable(parseInt(localStorage.getItem('scrollPosition')) || 0)
	}

	$: {
		if (browser && scrollPosition) {
			localStorage.setItem('scrollPosition', scrollPosition.toString() || '')
			previousScrollPosition.set(scrollPosition)
		}
	}

	onMount(() => {
		scrollPosition = $previousScrollPosition
	})

	// Search
	export let loadedPokemon: PokemonType[]
	let searchTerm = ''
	let filteredPokemon: PokemonType[] = []

	$: {
		if (searchTerm) {
			filteredPokemon = loadedPokemon.filter((poke) =>
				poke.name.toLowerCase().includes(searchTerm.toLowerCase())
			)
		} else {
			filteredPokemon = [...loadedPokemon]
		}
	}
</script>

<svelte:head>
	<title>Pokedex</title>
</svelte:head>

<svelte:window bind:scrollY={scrollPosition} />

<div class="">
	<h1 class="text-4xl text-center my-8 uppercase dark:text-gray-200">Pokedex</h1>

	<input
		bind:value={searchTerm}
		type="text"
		class="w-full rounded-md text-lg p-4 border-2 border-gray-200 dark:bg-gray-800 dark:border-gray-300 dark:text-gray-200"
		placeholder="Search Pokemon"
	/>

	<div class="py-4 grid gap-4 md:grid-cols-2 grid-cols-1">
		{#each filteredPokemon as poke}
			<Pokecard {poke} />
		{/each}
	</div>
</div>

<style>
</style>
