<script context="module" lang="ts">
	import type { PokemonDetailsType } from 'src/types/pokemon.type'
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export async function load({ page, fetch, session, stuff }) {
		const id = page.params.id
		const url = `https://pokeapi.co/api/v2/pokemon/${id}`
		const res = await fetch(url)
		if (res.ok) {
			const poke = await res.json()
			const pokeDetails: PokemonDetailsType = {
				id: poke.id,
				name: poke.name,
				height: poke.height,
				weight: poke.weight,
				types: [poke.types[0].type.name, poke.types[1] ? poke.types[1].type.name : ''],
				image: poke.sprites['front_default']
			}
			return { props: { pokeDetails }, maxage: 3600 }
		}

		return {
			status: res.status,
			error: new Error(`Could not load ${url}`)
		}
	}
</script>

<script lang="ts">
	export let pokeDetails: PokemonDetailsType
	import { generationStore, editionStore } from '../../stores'
	if (typeof window !== 'undefined') {
		$generationStore = localStorage.getItem('generation')
		$editionStore = localStorage.getItem('edition')
	}
</script>

<div class="flex flex-col items-center gap-4">
	<h1 class="text-4xl text-center my-8 capitalize dark:text-gray-200">{pokeDetails.name}</h1>
	<img
		class="card-image h-24 max-h-24"
		src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/{$generationStore}/{$editionStore}/{pokeDetails.id}.png"
		alt={pokeDetails.name}
	/>

	<div class="flex gap-2">
		{#each pokeDetails.types as type}
			{#if type}
				<div class="flex flex-col">
					<div
						class="{type} rounded-full flex flex-col items-center justify-center border-2 h-16 w-16"
					>
						<img src="/pokemon_types/{type}.svg" alt="{type} type icon" class="h-11" />
					</div>
					<p class="text-center dark:text-gray-200">
						<strong class="capitalize">{type}</strong>
					</p>
				</div>
			{/if}
		{/each}
	</div>

	<p class="dark:text-gray-200 text-center">
		Height: <strong>{pokeDetails.height} ft</strong> <br />
		Weight: <strong>{pokeDetails.weight} lbs</strong>
	</p>

	<audio controls autoplay class="text-gray-600">
		<source src="/pokemon_cries/RBY/{pokeDetails.id}.wav" type="audio/wav" />
		Your browser does not support the audio element.
	</audio>
</div>

<style>
	@media (prefers-color-scheme: dark) {
		audio {
			filter: invert(90%);
		}
	}

	.bug {
		background: #92bc2c;
		box-shadow: 0 0 20px #92bc2c;
	}

	.dark {
		background: #595761;
		box-shadow: 0 0 20px #595761;
	}

	.dragon {
		background: #0c69c8;
		box-shadow: 0 0 20px #0c69c8;
	}

	.electric {
		background: #f2d94e;
		box-shadow: 0 0 20px #f2d94e;
	}

	.fire {
		background: #fba54c;
		box-shadow: 0 0 20px #fba54c;
	}

	.fairy {
		background: #ee90e6;
		box-shadow: 0 0 20px #ee90e6;
	}

	.fighting {
		background: #d3425f;
		box-shadow: 0 0 20px #d3425f;
	}

	.flying {
		background: #a1bbec;
		box-shadow: 0 0 20px #a1bbec;
	}

	.ghost {
		background: #5f6dbc;
		box-shadow: 0 0 20px #5f6dbc;
	}

	.grass {
		background: #5fbd58;
		box-shadow: 0 0 20px #5fbd58;
	}

	.ground {
		background: #da7c4d;
		box-shadow: 0 0 20px #da7c4d;
	}

	.ice {
		background: #75d0c1;
		box-shadow: 0 0 20px #75d0c1;
	}

	.normal {
		background: #a0a29f;
		box-shadow: 0 0 20px #a0a29f;
	}

	.poison {
		background: #b763cf;
		box-shadow: 0 0 20px #b763cf;
	}

	.psychic {
		background: #fa8581;
		box-shadow: 0 0 20px #fa8581;
	}

	.rock {
		background: #c9bb8a;
		box-shadow: 0 0 20px #c9bb8a;
	}

	.steel {
		background: #5695a3;
		box-shadow: 0 0 20px #5695a3;
	}

	.water {
		background: #539ddf;
		box-shadow: 0 0 20px #539ddf;
	}
</style>
